@import 'colors';

* {
    border: 1px solid red;
}
header {
    display: flex;
    flex-flow: column;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-background-color;
    color: $dark-lighttext-color;
    text-shadow: 1px 1px 1px black, 0 0 1em $border-box-shadow, 0 0 0.2em $border-box-shadow;
    border-bottom: 2px solid black;
    box-shadow: 0px 5px 8px $border-box-shadow;
    div h1 {
        font-size: 2.5em;
        font-family: 'Vast Shadow', sans-serif;
        #title-letter-spacing {
        letter-spacing: 40px;
        }
    }
    div small {
        font-weight: lighter;
        font-family: 'Bungee Inline', sans-serif;
        font-size: .90em;
    }
}

#search-form {
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px;
    button {
        background-color: green;
        color: yellow;
        font-weight: bold;
        border-radius: 10px;
        &:hover {
            cursor: pointer;
        }
    }
}

#display-search-term {
    margin-left: 20px;
    font-family: sans-serif;
    span {
        color: darkblue;
        font-weight: bold;
    }
}
#key-phrases {
    width: 30%;
    height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
        #key-phrases-list {
        height: 85%;
        width: 100%;
        overflow: scroll;
        font-family: sans-serif;
                ul li {
            margin: 5px;
        }
    }   border: 3px solid black;
    .list-title{
        height: 10%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 50%;
        background-color: darkblue;
        color: white;
                border: 5px groove black;
    }
}

.modal {
    display: block;
    visibility: hidden;
    opacity: 0.0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    .modal-content {
        width: 30%;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-flow: column;
        margin: 15% auto;
        padding: 20px;
        border: 3px ridge;
        border-radius: 25px;
        background-color: $dark-background-color;
        font-family: sans-serif;
        color: $dark-lighttext-color;
        img {
            height: 150px;
        }
    }
}

// show/hide spa actions +===}========>
.show {
  visibility: visible;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: .75s;
  transition-delay: .75s;
  opacity: 1;
}

.hide {
  transition: visibility 0s ease 0.5s, opacity 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
