
header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 2em;
        font-weight: bold;
        font-family: sans-serif;
        small {
            font-weight: lighter;
            font-size: .90em;
        }
    }
}

#search-form {
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px;
    button {
        background-color: green;
        color: yellow;
        font-weight: bold;
        border-radius: 10px;
        &:hover {
            cursor: pointer;
        }
    }
}

#display-search-term {
    margin-left: 20px;
    font-family: sans-serif;
    span {
        color: darkblue;
        font-weight: bold;
    }
}
#lists {
    display: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 85%;
    height: 300px;
    border: 3px solid black;
    .list-title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 50%;
        background-color: darkblue;
        color: white;
        height: 10%;
        width: 99%;
        border: 5px groove black;
    }
    #key-phrases {
        height: 100%;
        width: 50%;
        border: 2px solid black;
        #key-phrases-list {
            overflow: scroll;
            font-family: sans-serif;
            height: 85%;
            width: 100%;
            ul li {
                margin: 5px;
            }
        }
    }
    #key-entities {
        height: 100%;
        width: 50%;
        border: 2px solid black;
        #key-entities-list {
            overflow: scroll;
            font-family: sans-serif;
            height: 85%;
            width: 100%;
            ul li {
                margin: 5px;
            }
        }
    }
}    


