#lists {
    display: inline-flex;
    
    width: 85%;
    height: 300px;
    border: 3px solid red;
    .list-title{
        height: 10%;
        width: 100%;
        border: 3px solid red;
    }
    #key-phrases {
        height: 100%;
        width: 50%;
        border: 2px solid blue;
    }
    #key-entities {
        height: 100%;
        width: 50%;
        border: 2px solid blue;
    }
}    


