header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif; }
    header h1 small {
      font-weight: lighter;
      font-size: .90em; }

#search-form {
  font-family: sans-serif;
  font-weight: bold;
  margin: 20px; }
  #search-form button {
    background-color: green;
    color: yellow;
    font-weight: bold;
    border-radius: 10px; }
    #search-form button:hover {
      cursor: pointer; }

#display-search-term {
  margin-left: 20px;
  font-family: sans-serif; }
  #display-search-term span {
    color: darkblue;
    font-weight: bold; }

#lists {
  display: none;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 85%;
  height: 300px;
  border: 3px solid black; }
  #lists .list-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 50%;
    background-color: darkblue;
    color: white;
    height: 10%;
    width: 99%;
    border: 5px groove black; }
  #lists #key-phrases {
    height: 100%;
    width: 50%;
    border: 2px solid black; }
    #lists #key-phrases #key-phrases-list {
      height: 85%;
      width: 100%; }
  #lists #key-entities {
    height: 100%;
    width: 50%;
    border: 2px solid black; }
    #lists #key-entities #key-entities-list {
      height: 85%;
      width: 100%; }
