/*used*/
body {
  background-color: #1d1f13;
  background-image: url("/public/images/alexander-mcferon-757085-unsplash.jpg");
  background-size: cover; }

header {
  display: flex;
  flex-flow: column;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #213964;
  color: #b6bdc2;
  text-shadow: 1px 1px 1px black, 0 0 1em #888888, 0 0 0.2em #888888;
  border-bottom: 2px solid black;
  box-shadow: 0px 5px 8px #888888; }
  header div h1 {
    font-size: 2.5em;
    font-family: 'Vast Shadow', sans-serif; }
    header div h1 #title-letter-spacing {
      letter-spacing: 40px; }
  header div small {
    font-weight: lighter;
    font-family: 'Bungee Inline', sans-serif;
    font-size: .90em; }

#info-div {
  display: flex;
  flex-flow: row;
  height: 10vh;
  margin: 10px;
  border: 5px groove;
  border-radius: 10px;
  background-color: #b1bedd;
  color: #121a17; }
  #info-div #search-form {
    width: 25%;
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px; }
    #info-div #search-form #term-input {
      font-size: 1em; }
    #info-div #search-form button {
      width: 25%;
      margin-right: 1%;
      font-size: 1em;
      border: 3px outset #c88300;
      border-radius: 10px;
      background-color: #fece4f;
      color: black;
      outline: 0; }
      #info-div #search-form button:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 0px #e3a92c; }
      #info-div #search-form button:active {
        border: 3px inset #c88300;
        box-shadow: none; }
  #info-div #display-search-term {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-family: sans-serif; }
    #info-div #display-search-term span {
      color: darkblue;
      font-weight: bold; }
  #info-div #display-overall-sentiment {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-family: sans-serif; }
    #info-div #display-overall-sentiment span {
      color: darkblue;
      font-weight: bold; }

.hide-div {
  display: flex;
  visibility: hidden;
  opacity: 0.0; }

<<<<<<< HEAD
#lists {
  display: none;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 85%;
  height: 300px;
  /* border: 3px solid black; */ }
  #lists .list-title {
=======
#phrase-sentiment-div {
  justify-content: space-around;
  border: 5px groove;
  margin: 0px 20px 5px 20px;
  border-radius: 25px;
  padding: 10px;
  background-color: white;
  color: #121a17; }
  #phrase-sentiment-div #key-phrases {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px groove black;
    border-radius: 10px 10px 0px 0px;
    background-color: #95a6b3; }
    #phrase-sentiment-div #key-phrases #key-phrases-list {
      height: 85%;
      width: 100%;
      overflow: scroll;
      font-family: sans-serif; }
      #phrase-sentiment-div #key-phrases #key-phrases-list ul li {
        margin: 5px; }
    #phrase-sentiment-div #key-phrases .list-title {
      height: 10%;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      font-family: sans-serif;
      font-weight: bold;
      border-radius: 50%;
      background-color: darkblue;
      color: white;
      border: 5px groove black; }

#twitter-charts {
  display: flex;
  height: 20vh;
  justify-content: space-around;
  border: 5px groove;
  margin: 0px 20px 10px 20px;
  border-radius: 25px;
  background-color: white;
  color: #121a17; }
  #twitter-charts #sentiment-chart {
    width: 90%;
    height: 100%; }

.modal {
  display: block;
  visibility: hidden;
  opacity: 0.0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal .modal-content {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 15% auto;
    padding: 20px;
    border: 3px ridge;
    border-radius: 25px;
    background-color: #213964;
    font-family: sans-serif;
    color: #b6bdc2; }
    .modal .modal-content img {
      height: 150px; }

.show {
  visibility: visible;
  transition: opacity 0.5s ease;
  opacity: 1; }

.hide {
  transition: visibility 0s ease 0.5s, opacity 0.5s ease;
  opacity: 0;
  visibility: hidden; }
